.search-box{
  position: relative;
  display: block;
  margin-bottom: 25px;
  input{
    width: calc(100% - 50px);
    border-radius: 73px;
    background-color: #fafafa;
    border: 1px solid rgba(black, .1);
    height: 52px;
    line-height: 52px;
    font-size: 15px;
    padding: 0 25px;
    color: rgba(black, .9);
    &:focus{
      box-shadow: 0 0 5px 0 rgba(0, 0, 255, 0.5);
      border: solid 1px #00f;
      background-color: #fafafa;
      outline: none;
    }
  }
  button{
    background-color: transparent;
    padding: 0;
    border: none;
    position: absolute;
    right: 17px;
    top: 15px;
    cursor: pointer;
    img, svg{
      width: 22px;
      height: 22px;
      color: rgba(black, .9);
    }
  }
  .search-icon {
    height: 22px;
    width: 22px;
    position: absolute;
    right: 20px;
    top: 15px;

  }
}