footer{
  margin-top: 80px;
  .footer-top{
    margin-bottom: -160px;
    position: relative;
  }
  .footer-bottom{
    background-color: $footer-color;
  }
  .footer-bottom-wrap{
    padding-top: 255px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    .logo{
      width: 110px;
      min-width: 110px;
      padding-right: 50px;
      img, svg{
        color: white;
        width: 110px;
        path{
          fill: white;
        }
      }
    }
    nav{
      text-align: center;
      ul{
        display: inline-block;
        li{
          display: block;
          padding-left: 15px;
          padding-right: 15px;
          font-weight: $font-light;
          text-align: left;
          &.title {
            margin-bottom: 12px;
            font-size: 17px;
            color: #fff;
            font-weight: $font-bold;
            text-align: left;
          }
          a{
            color: rgba(white, 0.6);
            font-size: 16px;
            line-height: 1.67;
            transition: all .5s ease;
            &:hover{
              &:after{
                display: none;
              }
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
    .social{
      ul{
        display: flex;
        flex-wrap: nowrap;
        li{
          display: block;
          &:not(:first-child){
            margin-left: 4px;
          }
          &:not(:last-child){
            margin-right: 4px;
          }
          a{
            width: 40px;
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            display: flex;
            border-radius: 50%;
            box-shadow: $box-shadow;
            background-color: white;
            svg, img{
              height: 17px;
              margin: auto;
              color: $accent;
              fill: $accent;
            }
          }
        }
      }
    }
  }
}


@media(max-width: $breakpoint-small) {
  footer{
    margin-top: 0;
    .footer-bottom-wrap{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .logo{
        margin-bottom: 30px;
        padding-right: 0;
      }
      nav{
        margin-bottom: 30px;
        text-align: center;
        ul{
          text-align: center;
          li{
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            &.title{
              text-align: center;
            }
          }
        }
      }
    }
  }
}