nav.menu-responsive{
  text-align: right;
  ul{
    display: inline-block;
    li{
      display: block;
      margin-bottom: 20px;
      a{
        font-size: 26px;
        color: $text;
        transition: all .5s ease;
        &:hover{
          color: $accent;
          text-decoration: none;
        }
      }
    }
  }
}